<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Empowering Creators To Earn From Home</h3>
          <p class="lead mt-0">We believe in the power of real people making real content. Tiny Cult allows anyone in the UK to become a Creator. We work with exciting UK brands who want content for their social media. All you need is a smartphone to sign up and start getting paid.  </p>
          <br>
          <div class="buttons">
            <a href="/contact" class="btn btn-primary">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
  
  <div class="section features-6">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center mx-auto">
          <h3 class="display-3">How Does It Work?</h3>
          <p class="lead">Being a Creator with Tiny Cult is simple. We partner with brands across the UK and work with them to understand what photos and videos they need. We handle all the admin so you can just focus on the fun part - making great content!   </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-app text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Receive Products</h5>
              <p>Once you're accepted, you'll be sent products from our clients. It could be anything from health products to beauty, gifts, food & drink or gadgets.  </p>
              <!-- <a href="#" class="text-info">Learn more</a> -->
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-mobile-button text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Create Photos & Videos</h5>
              <p>You'll receive a set of guidelines explaining what photos or videos need creating. Typically it involves demonstrating how a product works or showing the unboxing experience. </p>
              <!-- <a href="#" class="text-info">Learn more</a> -->
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-money-coins text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Submit & Get Paid</h5>
              <p>Once you're done simply send your content back to us. We'll check it and then you'll be paid promptly. Plus, you get to keep all the products for free!</p>
              <!-- <a href="#" class="text-info">Learn more</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 mx-md-auto">
          <img class="ml-lg-5" src="{{ '/assets/img/custom/tiktok-shot.jpg' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="section features-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3">Why Become A Creator?</h3>
        <p class="lead">If you enjoy making photos & videos and you're comfortable in front of the camera, then you could enjoy the flexibility of earning as a Creator. </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <img src="{{ '/assets/img/custom/drink-product.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">Ultimate Flexibility</h4>
            <p class="lead text-italic text-white">Create your content when you want, where you want. Finally, a way to get paid for your creativity. </p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-7 p-sm-0">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-hover-warning">
              <div class="icon icon-shape bg-warning shadow rounded-circle text-primary">
                <i class="ni ni-satisfied text-white"></i>
              </div>
              <h5 class="info-title">Work From Anywhere</h5>
              <p class="description opacity-8">Create your content from the comfort of your home or wherever is most suitable.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                <i class="ni ni-bag-17 text-white"></i>
              </div>
              <h5 class="info-title">Exciting Brands</h5>
              <p class="description opacity-8">You'll get the chance to work on creative briefs with a range of UK consumer brands - great for building valuable experience.</p>
            </div>
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-md-6">
            <div class="info info-hover-danger">
              <div class="icon icon-shape bg-danger shadow rounded-circle text-primary">
                <i class="ni ni-watch-time text-white"></i>
              </div>
              <h5 class="info-title">Choose Your Hours</h5>
              <p class="description opacity-8">Work at whatever time suits you. Enjoy the flexibility to run your own schedule and fit your Tiny Cult work around your life.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-success">
              <div class="icon icon-shape bg-success shadow rounded-circle text-primary">
                <i class="ni ni-circle-08 text-white"></i>
              </div>
              <h5 class="info-title">Everyone Welcome</h5>
              <p class="description opacity-8">We don't require qualifications or certificates. We are open to anyone who is passionate, reliable and creative.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section features features-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3">Creator Benefits</h3>
        <!-- <p class="lead"></p> -->
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 mt-md-5">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-spaceship"></i>
                </div>
                <h5 class="display-5">We Support You</h5>
                <p>Our team is always on hand if you need us.</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Dedicated account manager</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">All your questions answered</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">On-hand for emergencies</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-money-coins"></i>
                </div>
                <h5 class="display-5">Create and Earn</h5>
                <p> We provide an excellent way to earn extra income without the hassle. </p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Fast payments for your work</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">No commuting needed</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Keep the products for free!</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cd-section" id="accordion">
    <!--     *********     ACCORDION 1      *********      -->
    <div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Frequently asked questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      What kind of photos and videos do I need to make?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
                    Each brief from our clients is different, but typically since we work with consumer brands they want to bring their products to life. That means using them, showing how they work or opening the box on camera to demonstrate what the customer should expect. The brief will contain everything you need to know, including information about the product. 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How long do I have to complete each assignment?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    We will agree the deadline with the client and let you know when we give you the brief. We always make sure there is plenty of time for the products to arrive, for you to make the content plus generous buffer time to protect against unexpected delays. Our Creators generally find it very easy to fit their Tiny Cult work into their schedule. If you are going to be unavailable or on holiday, you can simply let us know that you can't do it when we send you the initial request. 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                      This sounds too good to be true... is it?!
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Yes, this is a frequently asked question :).  In some ways it does sound too good to be true, but we chalk that up as a testament that we've succeeded in creating a wonderful way for people to earn extra money without many of the typical barriers. But while it does sound easy, bear in mind that it still does take some skill and craft to do this well.  <br>
                    Good content requires you to present well on camera, have strong attention to detail and be able to understand and tap into the strategic direction the brand wants to go in.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFifth">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-controls="collapseFifth">
                      How do I receive the products?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Simply provide us with your address and we'll arrange them to be sent to you. Sometimes if it's an e-commerce brand, they'll prefer you to order it yourself on their website with a discount code giving you 100% off.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                      How do I sign up?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Great! Just <a href="/contact">head over to this page</a>, follow the instructions and submit your details. Once we receive that, we'll be in touch shortly with the next steps. 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSeven">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                      Do I need any special equipment?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    The minimum you need is a smartphone with a decent camera. With a modern phone, there's a lot you can accomplish, especially if you are conscious about where you shoot (and plenty of natural light goes a long way!). But there are increasing amounts of accessories hitting the market at very accessible prices. If you have previous experience using things like basic lighting equipment, that would be a great addition but by no means necessary. 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingEight">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseEight">
                      Where will the content be used?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    The majority of content is for brands' social media. This is both for their organic feeds and for social media ads. With so many channels to keep up to date, there is a large demand for photos and videos to be posted regularly. Sometimes brands also want to put the content somewhere on their website as well. 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <br><br>

